<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <title>Info Update</title>
  </head>
  <body>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Image Url</th>
          <th scope="col">Heading</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      
      <tbody>
        <% for(let i=0; i<3; i++){ %>
        <tr id=<%=i %>
          >
          <th scope="row"><%= data[i]._id %></th>
          <td><%= data[i].imgUrl %></td>
          <td><%= data[i].heading %></td>
          <td><%= data[i].description %></td>
          <td>
            <button
              type="button"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              onclick="update(value)"
              value=<%=i%>
              style="background: transparent">
              <img src="edit.jpg" style="height: 40px; width: 40px" />
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/carousel-update" method="POST" id="form">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="d"
                  readonly="true"
                  name = "_id"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Image Url</label
                >
                <input type="text" class="form-control" id="a" name = "imgUrl" />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" 
                  >Heading</label
                >
                <input type="text" class="form-control" id="b" name = "heading" />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Description</label
                >
                <input type="text" class="form-control" id="c" name = "description" />
              </div>

              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>




    <script>
      function update(value) {
        document.getElementById("a").value =
          document.getElementById(value).childNodes[3].innerHTML;
        document.getElementById("b").value =
          document.getElementById(value).childNodes[5].innerHTML;
        document.getElementById("c").value =
          document.getElementById(value).childNodes[7].innerHTML;
        document.getElementById("d").value =
          document.getElementById(value).childNodes[1].innerHTML;
      }
      const form = document.getElementById("form")
      form.addEventListener("submit", (e)=>{

        e.preventDefault()

        var data = new URLSearchParams(new FormData(form));
        fetch("/info-update", {method: "POST", headers: {}, body: data})
        .then(res=>{
          return res.json()
        }).then(res2=>{
          window.location.href = "/info-update"
        })
      })
  
    </script>
  </body>
</html>
